{% extends "base.html.twig" %}
{%  block body %}

<div class="ui grid">
	<div class="eight wide column">
		<div class="ui segment">
			<i class="ui massive user icon"></i>
			??? items</br>
			Developers</br>
			<a href="{{ path("developers") }}" class="ui button"><i class="ui eye icon"></i> See All</a>
			<a href="{{ path("developers_new") }}" class="ui button"><i class="ui plus icon"></i>Add new...</a></br>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui segment">
			<i class="ui massive tasks icon"></i>
			??? items</br>
			Tasks</br>
			<a href="{{ path("tasks") }}" class="ui button"><i class="ui eye icon"></i> See All</a>
			<a href="{{ path("tasks_new") }}" class="ui button"><i class="ui plus icon"></i>Add new...</a></br>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui segment">
			<i class="ui massive calendar icon"></i>
			??? items</br>
			Projects</br>
			<a href="{{ path("projects") }}" class="ui button"><i class="ui eye icon"></i> See All</a>
			<a href="{{ path("projects_new") }}" class="ui button"><i class="ui plus icon"></i>Add new...</a></br>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui segment">
			<i class="ui massive step forward icon"></i>
			??? items</br>
			Steps</br>
			<a href="{{ path("steps") }}" class="ui button"><i class="ui eye icon"></i> See All</a>
			<a href="{{ path("steps_new") }}" class="ui button"><i class="ui plus icon"></i>Add new...</a></br>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui segment">
			<i class="ui massive open folder icon"></i>
			??? items</br>
			Stories</br>
			<a href="#" class="ui button"><i class="ui eye icon"></i> See All</a>
			<a href="#" class="ui button"><i class="ui plus icon"></i>Add new...</a></br>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui segment">
			<i class="ui massive tag icon"></i>
			??? items</br>
			Tags</br>
			<a href="{{ path("tags") }}" class="ui button"><i class="ui eye icon"></i> See All</a>
			<a href="{{ path("tags_new") }}" class="ui button"><i class="ui plus icon"></i>Add new...</a></br>
		</div>
	</div>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ script_foot | raw }}
{% endblock %}
