{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
	<form action="{{ path("valider_contact") }}" method="POST" class="ui form">
		<input type="hidden" name="id" value="{{ id }}"/>
		<div class="field">
			<label for="prenom">Prenom</label><input type="text" value="{{ contact.prenom }}"/>
		</div>
		<div class="field">
			<label for="nom">Nom</label><input type="text" id="nom" value="{{ contact.nom }}"/>
		</div>
		<div class="field">
			<label for="email">Email</label><input type="email" value="{{ contact.email }}"/>
		</div>
		<div class="field">
			<label for="tel">Telephone</label><input type="tel" value="{{ contact.tel }}"/>
		</div>
		<div class="field">
			<label for="mobile">Mobile</label><input type="tel" value="{{ contact.mobile }}"/>
		</div>
		<div class="field">
		<input type="submit" value="Valider"/>
		</div>
	</form>
{% endblock %}